/* Address Bar */
.AddressBar {
    width: 200px;
}

.AddressBar--input {
    width: 100%;
}

/* http://stackoverflow.com/questions/11431331/google-map-autocomplete */
.pac-container {
    width: 400px !important;
}

